.pharmacy-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fdfdfd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: Arial, sans-serif;
}

.more-wrapper {
  position: relative;
}

.more-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 25px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  border-radius: 6px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  padding: 8px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}
